* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothin: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

.container nav {
  background-color: #065e7c;

  width: 430px;

  color: white;
  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  align-items: center;
}

.logo {
  margin: 1.6rem 2.5rem 1.6rem 2.6rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: auto;
  padding: 1.2rem 7.3rem 1.2rem 1.4rem;

  border-radius: 8px;
  border: 0;

  font-size: 1.6rem;
  font-weight: 600;

  background-color: #387e96;
}

.input-wrapper input::placeholder {
  color: white;
  opacity: 0.56;
}

.title,
.article-title {
  margin: 3.1rem 6.6rem 0.8rem 2.2rem;
  width: 34.2rem;

  font-weight: bold;
  font-size: 2.4rem;
}

button {
  background-color: #065e7c;
  border: 0;
  border-radius: 999px;
  padding: 1.2rem;
}

.first-button {
  margin-left: 2.2rem;
  margin-right: 1.2rem;
}

.text {
  font-size: 1.6rem;

  margin: 3.1rem 2.6rem 3.4rem 2.2rem;
}

.wrapper {
  display: flex;
  gap: 1.6rem;
}

.card {
  margin-left: 2.2rem;
  margin-bottom: 3.2rem;
}

.article-title {
  margin-bottom: 3.2rem;
}

.block {
  width: 21.5rem;
  margin-right: 2.6rem;
}
