* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothin: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family:Mulish', sans-serif ;


  
}

.container nav{
  background-color: #065E7C ;

  color: white;
  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  align-items: center;
} 

.logo {
  margin: 1.6rem 2.5rem 1.6rem  2.6rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 7.3rem 1.2rem 1.4rem;

  border-radius: 8px;
  border: 0;

  font-size: 1.6rem;
  font-weight: 600;
  
  background-color: #387E96;
}

.input-wrapper input::placeholder {
  color: white;
  opacity: 0.56;


}